.center {
  text-align: center;
}

.btn {
  margin-left: 1em;
}

th, td {
  padding: 1em;
}

select, input {
  padding: 5px;
}

.card {
  margin: 0 auto;
  float: none;
  margin-top: 1em;
  margin-bottom: 1em;
}

.vert-space {
  margin-top: 1em;
  margin-bottom: 1em;
}

.formInfo {
  display: inline-block;
  text-align: left;
}

.white {
  margin-top: 0;
  padding-top: 2em;
  padding-bottom: 2em;
  background-color: #cfcfcf;
}
